<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UTEC Salud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatable/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesone/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesone/css/brands.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesone/css/solid.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/popper/popper.js"></script>
    <script type="text/javascript" src="~/lib/datatable/dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/buttons/dataTables.buttons.js"></script>
    <script type="text/javascript" src="~/lib/buttons/buttons.dataTables.js"></script>
    <script type="text/javascript" src="~/lib/buttons/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/lib/bootbox/bootbox.all.min.js"></script>
    <script type="text/javascript" src="~/lib/jszip/jszip.min.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
