@model UTEC.Salud.Models.VistaCita
<table id="tblCita" class="table table-bordered" data-page-length="15">
    <thead class="bg-primary text-light">
        <tr>
            <th class="text-center px-1 fw-normal text-wrap" scope="col" style="width:30%">Documento</th>
            <th class="text-center px-1 fw-normal text-wrap" scope="col" style="width:70%">Institución</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Lista != null)
        {
            foreach (var item in Model.Lista)
            {
                <tr>
                    <td class="text-center px-1 fw-normal" scope="row">@item.documento</td>
                    <td class="text-center px-1 fw-normal" scope="row">@item.institucion</td>
                </tr>
            }
        }
    </tbody>
</table>